.header{
    font-size: $size-font-header;
    position: fixed;
    z-index: 100;
    width: 100%;
    
}

/*Nesting del & y usando hover*/
.header__img{
    height: $height-logo;
    border-radius: $border-logo;    
    transition: all 1s;
    margin-left: $margin-l-logo;
    border: white solid;

    &:hover{
        transform: translate(1rem);
    }
}

.contenedor__logo{
    margin-right: $contenedor-logo-margin-r;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
