/*Estilos - Hero Section*/
/*Uso ded mixis*/
@mixin hero-configuracion {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2; /*Para ordenar div - suerponer uno por otro */
}

.hero{
    height: $hero-height-vh;
    background-image: url("../assets/resources/fondo_hero.jpg");
    @include hero-configuracion();
}

.hero__contenedor{
    width: 600px;
    position: relative;
    left: 3rem;

}

.hero__titulo{   
    color: $color-hero-titulo;
    font-size: 3.2rem;  
    margin-bottom: 3rem;
}

.btn__compra{
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

/*Uso de extends*/

.btn__mensaje{
    @extend.btn__compra;
    color: green;
}

.btn__precios{
    @extend.btn__compra;
    color: blue;
}

.hero{
    -webkit-animation: bg-pan-top 60s both;
            animation: bg-pan-top 60s both;
}


@-webkit-keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
