.navbar-light{
    background-color: $color-principal;
}

.nav-link{
    margin-left: $margin-l-nav-link;
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }   
}