/*Variables*/
$color-principal: #E3BC91;
$color-hero-titulo: white;
$size-font-header: 1.29rem;
$height-logo: 3.5rem;
$height-logo-footer: 9rem;
$border-logo: 5rem;
$margin-l-logo: 10px;
$contenedor-logo-margin-r: 1.5rem;
$margin-l-nav-link: 1.2rem;
$hero-height-vh: 72vh;
$bg-color-blog: white;
